@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * サイト基本スタイル
 */
html {
  background-color: #ffffff;
  font-size: 62.5%;
}
html body {
  color: #666666;
  background-color: #F8FBEC;
  width: 40rem;
  margin: 2rem auto;
  padding: 1.2504rem;
  font-size: 1.2rem;
  line-height: 1.4;
}

/** h1タグのスタイル */
h1 {
  margin: 0 0 1.5rem;
  padding: 8px 0px 6px 6px;
  border-left: 5px solid #008000;
  font-size: 1.68rem;
  font-weight: bold;
}
h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

/** h2タグのスタイル */
h2 {
  color: #622d18;
  width: 13.92rem;
  margin: 0;
  padding: 0.435rem;
  font-size: 1.74rem;
  font-weight: bold;
}

/** formタグのスタイル */
form {
  margin: 0.996rem 0;
}
form input[type="text"], form textarea {
  height: 1.5rem;
  margin: 0;
  padding: 0;
}
form input[type="submit"], form input[type="reset"] {
  width: 6rem;
  height: 2.1rem;
  margin-left: 0.75rem;
}
form input[type="submit"]:hover, form input[type="reset"]:hover {
  background-color: #ffffff;
  cursor: pointer;
}

/** 著作権表記のスタイル */
#copyright {
  width: 36rem;
  margin: 0 auto;
  margin-top: 3.3rem;
  padding-top: 1.2rem;
  border-top: 1px solid #666666;
  font-size: 1.2rem;
  text-align: center;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.error {
  color: #ff6347;
}
